<div class="container">
    <form [formGroup]="profileForm">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" formControlName="name" name="name">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Perfil</label>
            <input type="text" class="form-control" id="role" formControlName="role">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Idade</label>
            <input type="number" class="form-control" id="age" formControlName="age">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">País</label>
            <input type="text" class="form-control" id="country" formControlName="country">
        </div>
        <div class="mb-3">
            <label for="experience" class="form-label">Experiência</label>
            <input type="text" class="form-control" id="experience" formControlName="experience">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive" [(ngModel)]="profileForm.value.isActive">
            <label class="form-check-label" for="isActive">Ativo</label>
        </div>        
        <button *ngIf="!atualizar" type="submit" class="btn btn-success mr-2" (click)="registerProfile()" [disabled]="!profileForm.valid">Cadastrar</button>
        <button *ngIf="atualizar" type="submit" class="btn btn-warning mr-2" (click)="updateProfile()">Atualizar</button>
    </form>
</div>
